@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 100px;
    background-color: var(--Light-grey);
}
h1{
    font-size: 3re;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 30px;
    width: 600px;
    height: 500px;
    background-color: var(--White );
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.input_wrapper{
    padding-right: 10%;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--Light-grey);
}

input{
    width: calc(240%/3);
    height: 2rem;
    padding: 1.5rem 0.6rem;
    border-radius: 4px;
    border: 1px solid var(--Light-grey);
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bolder;
}
input:focus:invalid {
    border: 1px solid var(--Light-red);
  }
  

input::placeholder{
    font-weight: bold;
}
.input_wrapper label{
    font-size: x-small;
    text-transform: uppercase;
    color: var(--Smokey-grey);
}

form{
    position: relative;
}
button{
    position: absolute;
    right: 1%;
    bottom: -20%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--Purple);
    border: none;
    cursor: pointer;
}
button:active{
    background-color: var(--Off-black);
}
button img{
width: 30px;
}
small{
    text-align: center;
    padding-right: 5px;
    opacity: 0;
    font-size: x-small;
    font-style: italic;
    font-weight: 100;
    color: var(--Light-red);
    text-align: center;
    text-wrap: wrap;
}

.output{
    margin-top: 25px;
}
.output p{
    font-size: 4.2rem;
    padding-left: 15px;
}
.output span{
    color: var(--Purple);
}
.error_class {
    border:solid;
}
@media(max-width : 520px){
  body{
    margin: 20% 2%;
  }
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 30px;

        overflow: hidden;
    }
    .input_wrapper{
        padding: 0;
        padding-left: 15px;
        width: 100%;
        justify-content: center;
        padding-bottom: 30px;
    }
    input{

        flex-shrink: 1;
    }
    
    button{
        right: 45%;
        bottom: -25%;
        height: 60px;
        width: 60px;
    
    }
    
    .output p{
        align-self: center;
        font-size: 50px;
        font-weight: 800; 
    }
    .output p:nth-of-type(1){
        padding-top: 20px;
    }
}